.card {
	position: relative;
	background-color: #fff;
	border: 1px solid #00000020;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.card-flex {
	display: flex;
}

@media screen and (max-width: 810px) {
	.card-flex {
		flex-direction: column;
	}
}

.card-image {
	flex: 1 1 60%;
}

.card-body {
	flex: 1 1 40%;
	padding: 1em;
	background: #cdd7e45e;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.card-info * {
	margin: 0;
}

.card-info-name {
	font-size: 2rem;
	text-transform: capitalize;
	font-weight: 600;
}

.card-info p {
	font-size: 1.4rem;
	font-weight: 400;
	color: #67615a;
	text-transform: capitalize;
}

.card-buttonholder {
	text-align: end;
}

.card-btn {
	border-bottom: 1px solid;
	border-bottom-width: medium;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	text-transform: capitalize;
	font-size: 1.3rem;
	line-height: 1.8;
	font-weight: 600;
}
