.character-card {
	position: relative;
	background-color: #fff;
	border: 1px solid #00000020;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.character-card:hover {
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.character-card-flex {
	display: flex;
}

.character-card-image {
	flex: 1 1 60%;
}

.character-card-body {
	flex: 1 1 40%;
	padding: 1em;
	background: #cdd7e45e;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.character-card-info * {
	margin: 0;
}

.character-name {
	font-size: 2rem;
	text-transform: capitalize;
	font-weight: 600;
}

.character-card-info p {
	font-size: 1.4rem;
	font-weight: 400;
	color: #67615a;
}

.character-card-buttonholder {
	text-align: end;
}

.character-btn {
	border-bottom: 1px solid;
	border-bottom-width: medium;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	text-transform: capitalize;
	font-size: 1.3rem;
	line-height: 1.8;
	font-weight: 600;
}
