.card {
	position: relative;
	background-color: #fff;
	border: 1px solid #00000020;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.card:hover {
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 19em 8em;
	gap: 0;
}

@media screen and (max-width: 650px) {
	.card-grid {
		grid-template-columns: 1fr 10em;
		grid-template-rows: 17em;
	}
}

@media screen and (max-width: 500px) {
	.card-grid {
		grid-template-rows: 13em;
	}
}

.card-image {
	width: 100%;
	height: 100%;
}

.card-body {
	width: 100%;
	height: 100%;
	padding: 1em;
}

@media screen and (max-width: 650px) {
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media screen and (max-width: 500px) {
	.card-body {
		padding: 1em 0.5em 0.4em;
	}
}

.card-info * {
	margin: 0;
}

.card-info p {
	font-size: 1.4rem;
	font-weight: 600;
	color: #67615a;
}

.card-shipname {
	font-size: 2rem;
	text-transform: capitalize;
	font-weight: 600;
}

.card-buttonholder {
	text-align: end;
}

.card-buttonholder a {
	color: #4a4848;
	background-color: #a2a8ad;
	border-color: #a2a8ad;
	text-transform: capitalize;
	font-size: 1.3rem;
	line-height: 1.8;
	font-weight: 600;
}
