.card {
	position: relative;
	background-color: #fff;
	border: 1px solid #00000020;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.card:hover {
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.card-flex {
	display: flex;
	flex-direction: column;
}

.card-image {
	flex: 1 1 70%;
}

.card-body {
	flex: 1 1 30%;
	padding: 1em;
}

.card-info * {
	margin: 0;
}

.card-info p {
	font-size: 1.4rem;
	font-weight: 400;
	color: #67615a;
}

.card-shipname {
	font-size: 2rem;
	text-transform: capitalize;
	font-weight: 600;
}

.card-buttonholder {
	text-align: end;
}

.card-buttonholder a {
	color: #4a4848;
	background-color: #a2a8ad;
	border-color: #a2a8ad;
	text-transform: capitalize;
	font-size: 1.3rem;
	line-height: 1.8;
	font-weight: 600;
}
