.select {
	font-size: 1.5rem;
	font-weight: 400;
	max-width: 17em;
	width: 100%;
	border: 1px solid #1c1c1cba;
	border-radius: 4px;
	margin-bottom: 3em;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

.paginate-container {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}

.paginate-item {
	margin: 0em 0.5em;
	border: 2px solid #404040e0;
	border-radius: 5px;
}

.paginate-link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	padding: 2px 7px;
}

.previous a,
.next a {
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #48233c;
}

.disabled {
	color: #48233c99;
}

.ellipsis {
	font-size: 2.5rem;
}

.active {
	background-color: #40476d;
	color: #fff;
	border: 2px solid #40476d;
}
