.starship-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 27em;
	grid-gap: 4em;
}

@media screen and (max-width: 1000px) {
	.starship-grid {
		grid-gap: 2em;
	}
}

@media screen and (max-width: 935px) {
	.starship-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 650px) {
	.starship-grid {
		grid-template-columns: 1fr;
		grid-auto-rows: unset;
		grid-gap: 1em;
	}
}
