.viewbtn-container {
	margin-top: 2em;
	margin-bottom: 3em;
	text-align: center;
}

.viewbtn {
	text-transform: uppercase;
	border: 1.5px solid #383737;
	width: 30%;
	border-radius: 7px;
	line-height: 1.6;
	font-size: 1.5rem;
}
