.home {
	min-height: 100vh;
	z-index: 2;
	background: #fff;
	padding-bottom: 6em;
	position: relative;
}

.starship-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 30em;
	grid-gap: 4em;
}

@media screen and (max-width: 1000px) {
	.starship-grid {
		grid-gap: 2em;
	}
}

@media screen and (max-width: 935px) {
	.starship-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 600px) {
	.starship-grid {
		grid-gap: 1em;
	}
}

.carousel-grid {
	max-width: 72em;
	margin: 0 auto;
	text-align: center;
}

.character-grid {
	max-width: 67em;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 26em;
	column-gap: 1em;
	row-gap: 2em;
}

@media screen and (max-width: 600px) {
	.character-grid {
		grid-auto-rows: 21em;
	}
}

.section {
	margin-bottom: 6em;
}
