.header {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #464646;
	height: 42em;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 600px) {
	.header {
		height: 30em;
	}
}

.header-logo-row {
	position: absolute;
	top: 2.2em;
	left: 5em;
}

@media screen and (max-width: 600px) {
	.header-logo-row {
		display: none;
	}
}

.header-logo-container {
	width: 8em;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0.2em;
}

.hero-img {
	width: 10em;
}

.hero-title {
	font-size: 6rem;
	text-transform: capitalize;
	margin-left: 0.3em;
}

.hero-title > h1 {
	margin: 0;
}

.hero-linebreak {
	width: 93%;
	border: 3px solid #fff;
	margin: 1px;
}

.hero-desc {
	text-align: center;
	font-size: 2.3rem;
	font-weight: 700;
}

.hero-searchform {
	width: 100%;
}

.hero-formcontainer {
	background: #fff;
	height: 5rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.hero-searchinput {
	flex: 1 1 82%;
	height: 100%;
	border: none;
	border-radius: 5px;
	font-size: 2rem;
	outline: none;
}

.hero-searchicon {
	flex: 1 1 18%;
	color: #827c7c;
	text-align: center;
	font-size: 2rem;
}

@media screen and (max-width: 500px) {
	.hero-img {
		width: 8em;
	}
	.hero-title {
		font-size: 5rem;
	}
}
